
<!--
<div id="humber-nav">
    <ul>
        <li><a href="http://www.humber.ca">Humber Home</a></li>
        <li><a href="http://www.humber.ca/content/programs-courses">Programs &amp; Courses</a>
            <ul>
                <li><a href="http://www.humber.ca/program-listings/a-z">Full-Time</a></li>
                <li><a href="http://www.humber.ca/degrees">Bachelor's Degrees</a></li>
                <li><a href="http://www.humber.ca/continuingeducation/">Continuing Education</a></li>
                <li><a href="http://www.humber.ca/content/distance-learning">Distance Learning</a></li>
                <li><a href="http://www.humber.ca/content/apprenticeships">Apprenticeships</a></li>
                <li><a href="http://www.humber.ca/secondcareer/">Second Career</a></li>
                <li><a href="http://www.humber.ca/content/corporate-training">Corporate Training</a></li>
                <li><a href="http://www.humber.ca/content/academic-schools">Academic Schools</a></li>
                <li><a href="http://www.humber.ca/degrees/transfer-opportunities-advanced-standing">Diploma to Degree</a></li>
                <li><a href="http://www.humber.ca/transferoptions">Transfer Options</a></li>
        
            </ul>
        </li>
        <li><a href="http://www.humber.ca/content/admissions">Admissions</a>
            <ul>
                <li><a href="http://www.humber.ca/how-apply">How to Apply</a></li>
                <li><a href="http://www.humber.ca/continuingeducation/reginfo/">Continuing Education</a></li>
                <li><a href="http://www.humber.ca/financial-aid">Financial Aid</a></li>
                <li><a href="http://www.humber.ca/fees">Fees</a></li>
                <li><a href="http://www.humber.ca/financial-aid/humber-scholarships">Scholarships</a></li>
                <li><a href="http://www.humber.ca/transferoptions">Transfer Options</a></li>
                <li><a href="http://residence.humber.ca/">Residence</a></li>
            </ul>
        </li>
        <li><a href="http://international.humber.ca">International Students</a></li>
        <li><a href="http://www.humber.ca/student-life">Student Life</a>
            <ul>
                <li><a href="http://www.humber.ca/student-life#Access + Wellness + Development">Access + Wellness + Development</a></li>
                <li><a href="http://www.humber.ca/student-life#Campus Services">Campus Services</a></li>
                <li><a href="http://www.humber.ca/student-life#Career + Jobs">Career + Jobs</a></li>
                <li><a href="http://www.humber.ca/student-life#Orientation + New Students">Orientation + New Students</a></li>
                <li><a href="http://www.humber.ca/student-life#Participate + Volunteer">Participate + Volunteer</a></li>
                <li><a href="http://www.humber.ca/student-life#Student Support">Student Support</a></li>
                <li><a href="http://www.humber.ca/student-life#Study Abroad">Study Abroad</a></li>
            </ul>
        </li>
        <li><a href="http://www.humber.ca/content/corporate-services">Corporate Services</a>
            <ul>
                <li><a href="http://conference.humber.ca/">Conferences &amp; Accommodations</a></li>
                <li><a href="http://www.humber.ca/content/corporate-training">Corporate Training</a></li>
                <li><a href="http://hrs.humber.ca">HR Services</a></li>
                <li><a href="http://www.thehumberroom.ca/" class="ext" target="_blank">Humber Room</a></li>
                <li><a href="http://library.humber.ca/">Library</a></li>
                <li><a href="http://publicsafety.humber.ca/">Public Safety</a></li>
                <li><a href="http://www.humber.ca/purchasing/">Purchasing</a></li>
                <li><a href="http://www.humber.ca/centreforteachingandlearning/">Centre for Teaching <br>and Learning</a></li>
            </ul>   
        </li>
        <li><a href="http://www.humber.ca/content/about-humber">About Humber</a>
            <ul>
                <li><a href="http://www.humber.ca/content/humber-president">Office of the President</a></li>
                <li><a href="http://www.humber.ca/content/academic-schools">Academic Schools</a></li>
                <li><a href="http://www.humber.ca/content/campuses-facilities">Campuses &amp; Facilities</a></li>
                <li><a href="http://www.humber.ca/content/corporate">Corporate Info</a></li>
                <li><a href="http://hrs.humber.ca">HR Services</a></li>
                <li><a href="http://library.humber.ca/">Library</a></li>
                <li><a href="http://www.humber.ca/aboriginal">Aboriginal Services</a></li>
                <li><a href="http://www.humber.ca/alumni">Alumni</a></li>
                <li><a href="http://www.humber.ca/community">Humber in the Community</a></li>
                <li><a href="http://www.humber.ca/campusdevelopment">Campus Development</a></li>
                <li><a href="http://www.humber.ca/sustainability">Sustainability</a>
                </li><li><a href="http://www.humber.ca/giving/">Giving to Humber</a></li>
            </ul>
        </li>
        <li><a href="http://www.humber.ca/content/contact-us">Contact Us</a>
            <ul>
                <li class="contact_li"><a href="http://directory.humber.ca/">Staff Directory</a></li>
                <li class="contact_li"><a href="http://ask.humber.ca/">Ask Humber</a></li>
                <li class="contact_li"><a href="http://www.humber.ca/content/media-room">Media Room</a></li>
                <li class="contact_li"><a href="http://www.humber.ca/content/maps" class="ext" target="_blank">Maps</a></li>
                <li class="contact_li"><a href="http://www.humber.ca/hours-operation">Hours of Operation</a></li>
                <li class="contact_li"><a href="http://www.humber.ca/hours-operation/emergency">Emergency Numbers</a></li>
            </ul>
        </li>
    </ul>
</div>
-->
<div id="humber-logo">
    <a href="$home$apphome">
        <h1 id="logo" class="ir">Humber College</h1>
    </a>
    <div id="humber-emnav">
         <span class="navlinks">
                #if( $user )
                #if( $canviewmyaccount )
                    <a href="$home$apphome/views/myaccount/index.html">My Account</a> |
                #end    
                    <a href="$home$apphome/authentication/logout.html">Logout</a>
                #else
                    <a href="$home$apphome/authentication/login.html">Login</a>
                #end               
                 #if($canviewsettings)
                |   <a #if ( $module ) href="$home$apphome/views/settings/modules/$module.id/index.html" #else href="$home$apphome/views/settings/index.html" #end>Settings</a>
                |   <a href="$home/manager/index.html">Manager</a>
                #end
         </span>
    </div>
</div>
