
/*
 * 	In order to change the logo of your site you will need to create a copy of the base header.html
 * 	and change the logo image's sourcepath to include the correct image.
 */

/* body background */

body {
	background: #4F4F4F; /* Dark Grey */
}

/* widget-header gradients */

#nav{
	background: #1E1E1E; /* Very Dark Grey */
}

.ui-widget-header, #header .navlinks {
	background: #E98300; /* Main Orange */
	color: #fff;
}

/* nav buttons */

#nav li a {
	background: #e98300; /* Old browsers */
	border-color: #A0540E; /* Dark Orange */
	color: #fff;
}
#nav li a:hover {
	background: #6E7C85; /* Button Grey Highlight */
	border-color: #4F4F4F; /* Dark Grey */
}
#nav li.navselected a, #nav li a:active {
	border-color: #A0540E; /* Dark Orange */
	border-color: #4F4F4F; /* Dark Grey */
}

/* left column background color */

#left-col {
	background: #EBEBEB; /* Light Grey Background */
	border-color: #4F4F4F; /* Dark Grey */
}

/* left column widget border colors */

#left-col .ui-widget-content {
	
	border-color: #E98300; /* Main Orange */
}

/* right column border color */

#right-col {
	border-color: #5E6A71; /* Button Grey */
}

/* main widget backgrond color */

#emcontent {
	background: #1E1E1E; /* Very Dark Grey */
}

#sub-nav li a, #sub-nav ul,#sub-nav{
	background: #f4f4f4; /* Old browsers */
	background: -moz-linear-gradient(top, #f4f4f4 1%, #ebebeb 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(1%,#f4f4f4), color-stop(100%,#ebebeb)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #f4f4f4 1%,#ebebeb 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #f4f4f4 1%,#ebebeb 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #f4f4f4 1%,#ebebeb 100%); /* IE10+ */
	background: linear-gradient(to bottom, #f4f4f4 1%,#ebebeb 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f4f4f4', endColorstr='#ebebeb',GradientType=0 ); /* IE6-9 */
	border-color: #6E7C85; /* Button Grey Highlight */
	color: #4F4F4F; /* Dark Grey */
}

#sub-nav li a:hover, #sub-nav li:hover a, #sub-nav li {
	background: #F8C048; /* Light Orange */
}

.title-bar{
	background: #E98300; /* Main Orange */
	border-color: #4F4F4F; /* Dark Grey */
	color: #fff;
}
#de-side-nav li.current a:hover, #de-side-nav li.current a {
	background: #E98300; /* Main Orange */
	border-color: #4F4F4F; /* Dark Grey */
}
#de-side-nav ul li.current:after {
	border-left: 8px solid #E98300;
}

.search-list li.current a.search-href, .sidebar-list li.current a {
	background: #F8C048; /* Light Orange */
}

#emcontainer #emselectable #main-results-table #tableheader th.sortable.currentsort.down {
	background: #4F4F4F; /* Dark Grey */
}

#nav .flat-right {
	border-right-color: #4F4F4F; /* Dark Grey */
}

/* table header background color and font color */

#emcontainer #emselectable #main-results-table #tableheader th, table tr.tableheader th {
	background: #E98300; /* Main Orange */
	border-color: #4F4F4F; /* Dark Grey */
	color: #fff;
}

/* table rows colors */

#emcontainer #emselectable table tr {
	background: #EBEBEB; /* Light Grey Background */
}

#emcontainer #emselectable table tr.odd, table tr.odd {
	background: #F4F4F4; /* Lighter Grey Background */
}

/* table rows hover background color */

#emcontainer #emselectable table tr.emborderhover, table tr.emborderhover {
	background: #F8C048; /* Light Orange */
}

/* media player background */

#media-player {
	background: #1E1E1E; /* Very Dark Grey */
}

/* sidebar hover background color */

.sidebar-caption span {
	background: #EBEBEB; /* Light Grey Background */
}

/* categories and tags background color */

.asset-details-more a {

}

.asset-details-more a:hover {

}

/* category tree selected row background color */

#emcategoryinline .dTreeNodeSel {
	background: #5E6A71; /* Button Grey */
}

/* asset metadata editor frame background color and side tab background color */

body #emcontainer .emasseteditorareawrapper, #assetmenu .catalogs_menu_item.current {
	background: #EBEBEB; /* Light Grey Background */
}

/* settings area sub navigation background color and border color */

#eml-tab-subnav ul, #eml-tabs ul li.current a {
	background: #f4f4f4; /* Old browsers */
	background: -moz-linear-gradient(top, #f4f4f4 1%, #ebebeb 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(1%,#f4f4f4), color-stop(100%,#ebebeb)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #f4f4f4 1%,#ebebeb 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #f4f4f4 1%,#ebebeb 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #f4f4f4 1%,#ebebeb 100%); /* IE10+ */
	background: linear-gradient(to bottom, #f4f4f4 1%,#ebebeb 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f4f4f4', endColorstr='#ebebeb',GradientType=0 ); /* IE6-9 */
	border-color: #6E7C85; /* Button Grey Highlight */
	color: #4F4F4F; /* Dark Grey */

}
#eml-tabs ul li.current a {
	background: #5E6A71; /* Button Grey */
	color: #4F4F4F; /* Dark Grey */
}

.sectionlevel td {
	background: #4F4F4F; /* Dark Grey */
}

#eml-tab-subnav ul li.current a {
	background: #E98300; /* Main Orange */
	color: #FFF;
}


/* hints color and hover colors */

.hints h3, .hints a:hover {

}

/* standard font colors */

h1, h2 {

}

/* form focus border color */

input[type="text"]:focus, input[type="password"]:focus, textarea:focus {
	
}
